DATABASE_URL=postgresql://user:password@localhost:5432/movara
NODE_ENV=development
PORT=3000
GT06_PORT=5023
EELINK_PORT=5064
EELINK_TLS_ENABLED=false
OSMAND_PORT=5055
PROTOCOL_DEBUG=true
# EELINK_TLS_CERT_PATH=
# EELINK_TLS_KEY_PATH=
